
body {
    background-color: lightgrey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;

}



li {
    margin-bottom: 10px;
    padding-left: 20px;
}

p {
    line-height: 1.6;
}

img {
    border-radius: 5px;
    width: 300px;
    height: 350px;
    background-color: grey;
}

nav {

    /* margin: 10px 0;
    font-weight: bold;
    /* font-size: 1.2em; */
    background-color: whitesmoke;
    color: blue;
    margin: 0%;
    padding: 0%;
    font-size: 1.5em;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0px;
    padding: 20px;
    background-color: whitesmoke;
}

nav ul li a:hover {
    background-color: #eb24eb;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: pink;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: whitesmoke;

}

body {
    .nice-style {
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 10px;


    }
}
