/*
  This new body rule centers your whole page on the screen
  and makes its maximum width 960px.
*/
body {
    background-color: lightgrey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    max-width: 960px;  /* <-- Corrected 'max-width' */
    margin: 0 auto;      /* <-- Centers the body block on the page */
    padding: 20px;       /* <-- Adds some space around the content */
}

/* This rule (which was invalidly nested) is now separate.
*/
.nice-style {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

li {
    margin-bottom: 10px;
    padding-left: 20px;
}

p {
    line-height: 1.6;
}

img {
    border-radius: 5px;
    width: 300px;
    height: 350px;
    background-color: grey;
    display: block; /* Helps center the image if margins are added */
    margin: 0 auto; /* Centers the image */
}

nav {
    background-color: whitesmoke;
    color: blue;
    margin: 0; /* '0' is better than '0%' for margin */
    padding: 0;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0px;
    padding: 20px;
    background-color: whitesmoke;
}

nav ul li a:hover {
    background-color: #eb24eb;
}

fieldset {
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    width: 100%;
    padding: 20px;
    box-shadow: 5px 10px 18px #888888;
    box-sizing: border-box; /* Good practice! */
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: pink; /* Note: This color may be hard to read on whitesmoke */
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: whitesmoke;
}
